@import "../vegan-burger";

.menu-button {
	display: inline-block;
	padding: .5em;
	background-color: #fafafa;
	border: 1px solid #ccc;
}

.vegan-burger-icon {
	@include vegan-burger(25px, 3px, 5px, #444);
}

.menu-button.is-active .vegan-burger-icon {
	@include vegan-burger-to-cross;
}